.containerContact{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0 ;
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url("/prueba.png");
    background-size: contain;
    background-repeat: no-repeat; */
    background-position: 50%;
}

.contact p{
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}

.contact hr{
    width: 30%;
    margin-top: 0;
    border: solid 1px rgb(53, 49, 49);
}

.contactImg{
    display: flex;
}

.whatsApp img, .instagram img{
    width: 30px;
    padding: 10px;
    transition: .5s;
}

.whatsApp img:hover, .instagram img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:  auto;
    padding: 10px 0 10px 0;
    margin-right: 15%;
}

.map iframe{
    width: 500px;
    height: 400px;
    border-radius: 20px;
    border: none;
}